
# ----------------------------
# VS Code
# ----------------------------

.vscode/

# ----------------------------
# macOS / Linux
# ----------------------------

.DS_Store

# -----------------------------------------------------------------------------
# Terraform
#
# Purpose:
# Ignore generated Terraform files and deployment-specific configuration.
# -----------------------------------------------------------------------------

**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform/terraform.tfvars.example
*.auto.tfvars
*.tfplan
tfplan
destroy.tfplan
crash.log
.terraform.tfstate.lock.info