#
# ----------------------------
# VS Code
# ----------------------------

.vscode/

# ----------------------------
# macOS / Linux
# ----------------------------

.DS_Store

# -----------------------------------------------------------------------------
# Terraform
#
# Purpose:
# Ignore generated Terraform files and deployment-specific configuration.
# -----------------------------------------------------------------------------

**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform/terraform.tfvars.example
*.auto.tfvars
*.tfplan
tfplan
destroy.tfplan
crash.log
.terraform.tfstate.lock.info
k8s/postgres/postgres-secret.yaml

# Debug

debug/

# Logs

*.log

# Temporary files

*.bak
*.tmp

# Windows

Thumbs.db

# --------------------------------------------------------------------
# Generated Kubernetes Secrets
#
# Purpose:
# Ignore Secrets generated during deployment.
# --------------------------------------------------------------------

terraform/k8s/postgres/postgres-secret.yaml
terraform/k8s/redis/redis-secret.yaml

# Local deployment configuration
terraform/.env

.env
