# ----------------------------
# Terraform
# ----------------------------

# Terraform working directory
**/.terraform/*

# Terraform state
*.tfstate
*.tfstate.*

# Terraform plan files
*.tfplan
tfplan
destroy.tfplan

# ----------------------------
# VS Code
# ----------------------------

.vscode/

# ----------------------------
# macOS / Linux
# ----------------------------

.DS_Store