availability_zones = [
  "eu-west-2a",
  "eu-west-2b"
]

private_subnets = [
  "10.0.1.0/24",
  "10.0.2.0/24"
]

public_subnets = [
  "10.0.101.0/24",
  "10.0.102.0/24"
]

vpc_name = "jenkins-vpc"
vpc_cidr = "10.0.0.0/16"

environment = "dev"
project_name = "jenkins-eks-challenge"
owner = "PLACEHOLDER"

eks_cluster_role_name = "jenkins-eks-cluster-role"
node_group_role_name  = "jenkins-node-group-role"